# Pastas de Dados na raiz (NUNCA commitar)
/data/

# Modelos Salvos (Pesos das redes neurais são pesados)
/results/models/

# Ambientes Virtuais
.venv/
venv/
env/

# Arquivos de cache do Python e Jupyter
__pycache__/
*.pyc
.ipynb_checkpoints/

# Variáveis de ambiente
.env
